<!--? Header section -->
<header>
    <div class="logo-parent">
        <img src="./img/circle.svg" alt="circle" class="img1" />
        <!-- <img src="./img/A.png" alt="A" class="img2" /> -->
    </div>
    <div class="logo-text">
        <h2><a href="/">A</a>&nbsp;rtwit</h2>
    </div>
    <nav>
        <ul id="nav">
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="/users"><%= name %></a></li>
        </ul>
    </nav>
</header>
