<div class="container mt-5">
    <h3 class="my-3">Create Your Art here</h3>
    <form action="/edit/<%=blog._id%> " method="post">
        <input
            type="text"
            name="title"
            id="title"
            class="form-control"
            value="<%= blog.title %> "
            placeholder="Enter Title"
            required
        />

        <input
            type="text"
            name="name"
            id="name"
            class="mt-3 form-control"
            value="<%= name %> "
            required
        />

        <textarea
            name="content"
            id="content"
            cols="30"
            rows="10"
            class="mt-3 form-control"
            placeholder="Enter text here..."
            required
        >
<%=blog.content%></textarea
        >

        <input
            type="submit"
            value="Save Changes"
            class="mt-4 btn btn-md btn-danger"
        />
    </form>
</div>
