<div class="container mt-3 py-5">
    <p class="text-muted">
        Published at: <%= blog.createdAt.toLocaleString() %>
    </p>
    <h2><%= blog.title %></h2>
    <p class="text-muted">Author: <%= blog.name %></p>
    <p class="mt-5"><%= blog.content %></p>
</div>
