html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eee;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

header,
footer {
    background-color: white;

    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.93);
    border-radius: 10px;
    margin: 20px 0 20px 0;
}

footer {
    padding: 1rem 2rem;
}

.container {
    height: 100vh;
}

nav ul {
    position: inherit;
    width: auto;
    background: none;
    height: auto;
    display: flex;
    padding-top: 15px;
}
nav ul li {
    float: left;
    list-style-type: none;
}
nav ul li a {
    color: black;
    background-color: inherit;
    text-align: right;
    text-decoration: none;
    padding: 1em 2em;
}
nav ul li a:hover {
    background-color: rgb(65, 73, 78);
    border-radius: 10px;
    color: white;
}

.logo-text a {
    color: black;
    text-decoration: none;
}

.logo-text {
    position: relative;
    z-index: 2;
    top: 6px;
    left: -20.5%;
}

@media only screen and (min-width: 1200px) {
    .logo-text {
        left: -29%;
    }
}

/*? Logo animation */
.logo-parent {
    display: flex;
    justify-content: flex-start;
}

.welcome {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.welcome > .welcome-img1 {
    z-index: 1;
    width: 30%;
    margin-bottom: 20px;
}

.img1 {
    z-index: 1;
    width: 33px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(360deg);
    }
}
